/* index.css */

.home {
    text-align: center;
}

.workout-plans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.workout-plan-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    background-color: #f9f9f9;
}

.workout-plan-card h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
}

.workout-plan-card p {
    margin-bottom: 10px;
}

.workout-image {
    width: auto;
    height: 200px;

}

.start-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.start-button:hover {
    background-color: #45a049;
}


nav {
    background-color: #333;
    color: white;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.workout-plan {
    text-align: center;
    padding: 20px;
}

.workout-plan-title {
    font-size: 24px;
    font-weight: bold;
}

.workout-image {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.workout-list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.workout-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.workout-item.selected {
    background-color: lightgreen;
}

.workout-item input[type="checkbox"] {
    margin-right: 10px;
}

.workout-item label {
    font-size: 16px;
}